@model List<OtelProject.Models.Tables.Country>
@{
    ViewBag.Title = "Şehir Listesi";
    Layout = "~/Views/Shared/_LayoutAdminPanel.cshtml";
}



<span class="display-3">Şehirler</span>
<hr />
<table id="table" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Şehir Plakası</th>
            <th>Şehir Adı</th>
            <th>İşlemler</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CountryId</td>
                <td>@item.CountryName</td>
                <td>
                    @Html.ActionLink("Düzenle", "CountryEdit", new { id = item.CountryId }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Sil", "CountryDelete", new { id = item.CountryId }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek istediğinizden eminmisiniz?')" })

                </td>
            </tr>

        }
    </tbody>
</table>

@section scripts{
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.11.3/datatables.min.js"></script>


    <script>
        $(document).ready(function () {
            $('#table').DataTable();
        });
    </script>
}