USE [BulBiOtel]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 7.09.2021 20:38:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[AdminId] [tinyint] IDENTITY(1,1) NOT NULL,
	[AdminUserName] [nvarchar](50) NULL,
	[AdminPassword] [nvarchar](50) NULL,
	[Permission] [nvarchar](50) NULL,
 CONSTRAINT [PK_Admins] PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 7.09.2021 20:38:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryId] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogRecords]    Script Date: 7.09.2021 20:38:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogRecords](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[LogAdminUserName] [nvarchar](50) NULL,
	[ProcessingDateTime] [datetime2](7) NULL,
	[OperationType] [nvarchar](50) NULL,
	[Description] [nvarchar](100) NULL,
 CONSTRAINT [PK_LogRecords] PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Otels]    Script Date: 7.09.2021 20:38:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Otels](
	[OtelsId] [int] IDENTITY(1,1) NOT NULL,
	[OtelName] [nvarchar](60) NULL,
	[OtelLocation] [nvarchar](60) NULL,
	[OtelPrice] [money] NULL,
	[OtelDescription] [nvarchar](200) NULL,
	[OtelStars] [tinyint] NOT NULL,
	[OtelRating] [float] NULL,
	[OtelCountry] [int] NULL,
	[OtelPicture] [varchar](200) NULL,
 CONSTRAINT [PK_Otels] PRIMARY KEY CLUSTERED 
(
	[OtelsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OtelUsers]    Script Date: 7.09.2021 20:38:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OtelUsers](
	[OtelUserId] [int] IDENTITY(1,1) NOT NULL,
	[OtelUserName] [nvarchar](50) NULL,
	[OtelName] [nvarchar](50) NULL,
	[OtelPassword] [nvarchar](50) NULL,
	[OtelMail] [nvarchar](100) NULL,
	[OtelStatus] [int] NULL,
	[OtelId] [int] NULL,
	[Permission] [nvarchar](50) NULL,
 CONSTRAINT [PK_OtelUsers] PRIMARY KEY CLUSTERED 
(
	[OtelUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([AdminId], [AdminUserName], [AdminPassword], [Permission]) VALUES (1, N'emir', N'123', N'Admin')
INSERT [dbo].[Admins] ([AdminId], [AdminUserName], [AdminPassword], [Permission]) VALUES (2, N'yasin', N'123', N'Admin')
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([CountryId], [CountryName]) VALUES (1, N'Adana')
INSERT [dbo].[Countries] ([CountryId], [CountryName]) VALUES (2, N'Adıyaman')
INSERT [dbo].[Countries] ([CountryId], [CountryName]) VALUES (3, N'Afyon')
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
SET IDENTITY_INSERT [dbo].[LogRecords] ON 

INSERT [dbo].[LogRecords] ([LogId], [LogAdminUserName], [ProcessingDateTime], [OperationType], [Description]) VALUES (40, N'emir', CAST(N'2021-09-01T13:19:00.7790409' AS DateTime2), N'Giriş Yapıldı', NULL)
INSERT [dbo].[LogRecords] ([LogId], [LogAdminUserName], [ProcessingDateTime], [OperationType], [Description]) VALUES (41, N'emir', CAST(N'2021-09-01T13:19:10.8527465' AS DateTime2), N'Şehir Listeleme İşlemi Yapıldı', NULL)
INSERT [dbo].[LogRecords] ([LogId], [LogAdminUserName], [ProcessingDateTime], [OperationType], [Description]) VALUES (42, N'emir', CAST(N'2021-09-01T13:19:19.5939293' AS DateTime2), N'Otel Listeleme İşlemi Yapıldı', NULL)
GO
SET IDENTITY_INSERT [dbo].[LogRecords] OFF
GO
SET IDENTITY_INSERT [dbo].[Otels] ON 

INSERT [dbo].[Otels] ([OtelsId], [OtelName], [OtelLocation], [OtelPrice], [OtelDescription], [OtelStars], [OtelRating], [OtelCountry], [OtelPicture]) VALUES (1, N'Crystal Admiral Resort Suites Spa', N'Antalya - Side | Kızılot', 700.0000, N'Aquapark - Denize Sıfır - Mini Club - Alakart Restoran - Spa ve Sağlık', 5, 4.9, 7, N'../wwwroot/otelPicture/1.jpg')
INSERT [dbo].[Otels] ([OtelsId], [OtelName], [OtelLocation], [OtelPrice], [OtelDescription], [OtelStars], [OtelRating], [OtelCountry], [OtelPicture]) VALUES (2, N'Limak Atlantis Hotel', N'Antalya - Belek | İleribaşı', 900.0000, N'Aquapark - Denize Sıfır - Mini Club - Alakart Restoran - Spa ve Sağlık', 5, 4.8, 7, N'../wwwroot/otelPicture/2.jpg')
INSERT [dbo].[Otels] ([OtelsId], [OtelName], [OtelLocation], [OtelPrice], [OtelDescription], [OtelStars], [OtelRating], [OtelCountry], [OtelPicture]) VALUES (4, N'My Home Anatolia Hotel', N'Ankara', 130.0000, N'Normalden %20 daha az', 4, 4.3, 6, N'../wwwroot/otelPicture/4.jpg')
SET IDENTITY_INSERT [dbo].[Otels] OFF
GO
SET IDENTITY_INSERT [dbo].[OtelUsers] ON 

INSERT [dbo].[OtelUsers] ([OtelUserId], [OtelUserName], [OtelName], [OtelPassword], [OtelMail], [OtelStatus], [OtelId], [Permission]) VALUES (2, N'emir1', NULL, N'123', N'emir.gurbuz06@hotmail.com', 3, 39, N'User')
INSERT [dbo].[OtelUsers] ([OtelUserId], [OtelUserName], [OtelName], [OtelPassword], [OtelMail], [OtelStatus], [OtelId], [Permission]) VALUES (3, N'deneme', N'Ankara Yenimahalle', N'123', N'deneme@hotmail.com', 1, 0, N'User')
INSERT [dbo].[OtelUsers] ([OtelUserId], [OtelUserName], [OtelName], [OtelPassword], [OtelMail], [OtelStatus], [OtelId], [Permission]) VALUES (5, N'ad', N'd', N'123', N'ds', 0, 0, N'User')
SET IDENTITY_INSERT [dbo].[OtelUsers] OFF
GO
ALTER TABLE [dbo].[OtelUsers] ADD  CONSTRAINT [DF_OtelUsers_OtelPermission]  DEFAULT ((0)) FOR [OtelStatus]
GO
ALTER TABLE [dbo].[OtelUsers] ADD  CONSTRAINT [DF_OtelUsers_UserPermission]  DEFAULT (N'allow') FOR [Permission]
GO
ALTER TABLE [dbo].[Otels]  WITH CHECK ADD  CONSTRAINT [FK_Otels_Countries] FOREIGN KEY([OtelCountry])
REFERENCES [dbo].[Countries] ([CountryId])
GO
ALTER TABLE [dbo].[Otels] CHECK CONSTRAINT [FK_Otels_Countries]
GO
